@using eBusiness.ViewModels

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@model LoginVM
<form method="post">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input asp-for="Username" class="form-control" />
        <label class="form-label" asp-for="Username">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input asp-for="Password" class="form-control" />
        <label class="form-label" asp-for="Password">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" asp-for="RememberMe" />
                <label class="form-check-label" asp-for="RememberMe"> Remember me </label>
            </div>
        </div>
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

</form>

